<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyLabService.Properties.Settings.MyLabDB1ConnectionString"
            connectionString="Data Source=IPSOKOLOV\SQLEXPRESS;Initial Catalog=MyLabDB1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>